.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
src/fb.js
crowdsourcing-664f1-firebase-adminsdk-pj0tv-5b39ddf8c3.json